body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-links li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .navbar-links li:first-child {
    margin-left: 0;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
  
  .navbar-links li a:hover {
    color: #1DB954;
  }

  .banner {
    background-color: rgb(64, 127, 243);
    padding: 60px;
    text-align: center;
  }

  .title {
    font-size: 2rem;
    margin-top: 0;
    color: white;
    font-style: bold;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 40px;
    color: white;
  }

  .button-container {
    margin-top: 20px;
  }

  .button-container button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 20px;
  }

  .button-container button:hover {
    background-color: #14803f;
  }

  /* ========== motivos do porque ser premium============ */
  .section {
    background-color: #ffffff;
    text-align: center;
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .section-title {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #000000;
    justify-items: center ;
  }
  
  .feature {
    margin-bottom: 40px;
    align-items: center;
  }
  
  .feature-icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  
  .feature-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* ==========Footer============ */


footer {
  background-color: #111;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-links ul,
.footer-social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links ul li,
.footer-social ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links ul li a,
.footer-social ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-social img {
  width: 20px;
  height: 20px;
}

.footer-bottom {
  font-size: 12px;
}
